[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
djangorestframework = "==3.10.3"
django-rest-knox = "==4.1.0"
requests = "*"
mysqlclient = "*"
certifi = "==2019.9.11"
cffi = "==1.13.1"
cryptography = "==3.2"
pipenv = "==2020.6.2"
pycparser = "==2.20"
pytz = "==2020.1"
six = "==1.15.0"
sqlparse = "==0.4.1"
virtualenv = "==20.2.0"
virtualenv-clone = "==0.5.4"
Django = "==2.2.6"

[requires]
python_version = "3.7"
