[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
djangorestframework = "==3.12.2"
django-rest-knox = "==4.1.0"
requests = "*"
mysqlclient = "*"
certifi = "==2020.12.5"
cffi = "==1.14.5"
cryptography = "==3.4.6"
pipenv = "==2020.11.15"
pycparser = "==2.20"
pytz = "==2021.1"
six = "==1.15.0"
sqlparse = "==0.4.1"
virtualenv = "==20.4.2"
virtualenv-clone = "==0.5.4"
Django = "==3.2"

[requires]
python_version = "3.7"
