certifi==2019.9.11
cffi==1.13.1
cryptography==2.8
Django==2.2.6
django-rest-knox==4.1.0
djangorestframework==3.10.3
pipenv==2020.8.13
pycparser==2.19
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
virtualenv==20.1.0
virtualenv-clone==0.5.4
