.headerCont{
    width: 100%;
    position: relative;
    margin: auto;
    background-color: #fff;
    z-index: 200;
}
.headerLogo h1{
    position: relative;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.headerLmt{
    position: relative;
    max-width: 1600px;
    width: 95%;
    margin: auto;
}
.headerCont header{
    z-index: 101;
    width: 100%;
    position: relative;
    margin: auto;
    background-color: #fff;
    height: 50px;
    border-bottom: solid #F6F6F6 1px;
}

.headerLogo{
    position: absolute;
    left: 0px;
    height: 28px;
    padding-top: 10px;
}
.headerLogo img{
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: auto;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.headerUserMenu{
    position: absolute;
    right: 0px;
}
.headerUserMenu ul{
    position: relative;
    float: left;
}
.headerUserMenu li{
    float: right;
    position: relative;
    list-style: none;
}

.headerUserMenu h2{
    position: relative;
    line-height: 50px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FF0000;
    transition: .3s ease;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.headerUserMenu h2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.userMenuProfile{
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
    overflow: hidden;
    background-color: #DEDEDE;
    margin: 5px;
    border-radius: 100%;
    transition: .3s ease;
    background-image: url('./images/user.png');
    background-size: contain;
}

.userMenuProfile:hover{
    opacity: .85;
}

.userMenuMessage{
    position: relative;
    height: 24px;
    margin: 13px;
    cursor: pointer;
    width: 24px;
    transition: .3s ease;
    background-image: url('./images/message.png');
    background-size: contain;
}
.userMenuMessage:hover{
    opacity: .8;
}
.userMenuMessageAlert{
    position: relative;
    float:right;
    transition: .3s ease;
    height:12px ;
    top: -2px;
    right: -2px;
    width: 12px;
    background-color: #FF0000;
    border-radius: 100%;
}

.mainSearchCont{
    position: relative;
    width: 500px;
    height: 50px; 
    margin: auto;
}

.mainSearchBar{
    height: 35px;
    width: 100%;
    position: absolute;
    border-radius: 7px;
    margin-top: 7.5px;
    overflow: hidden;
    background-color: #EFEFEF;
}
.mainSearchIcon{
    position: relative;
    float: left;
    height: 35px;
    width: 35px;
    position: relative;
    float: left;
}
.mainSearchImg{
    position: relative;
    background-image: url('./images/search.png');
    background-size: contain;
    height: 22px;
    margin: 5.5px;
    width: 22px;
}
.mainSearchBar input, .mainSearchBar input:active, .mainSearchBar input:hover, .mainSearchBar input:focus{
    height: 35px;
    width: 460px;
    border: none;
    outline: none;
}

.mainSearchBar input{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-right: 8px;
    color: #000;
    padding-left: 0px;
    background-color: transparent;
}

.headerLower{
    z-index: 100;
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #fff;
}

.hlOptions{
    position: relative;
    float: left;
}
.hlDashboard{
    cursor: pointer;
    position: relative;
    float: left;
    margin-right: 15px;
    top: 0px;
    transition: .2s ease;
    height: 48px;
    opacity: .35;
    border-bottom: 0px solid #0066FF;
}
.hlDashboard:hover{
    opacity: 1;
}
.hlDashboard img{
    position: relative;
    height: 16px;
    width: 16px;
    float: left;
    padding-top: 17px;
    padding-right: 5px;
}

.hlDashText{
    height: 35px;
    top: 0px;
    float: left;
}

.hlDashText h2{
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #000;
    position: relative;
    font-size: #000000;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.hlDashboardActive{
    cursor: pointer;
    position: relative;
    float: left;
    margin-right: 15px;
    top: 0px;
    height: 48px;
    border-bottom: 2px solid #0066FF;
}

.hlDashboardActive img{
    position: relative;
    height: 16px;
    width: 16px;
    float: left;
    padding-top: 17px;
    padding-right: 5px;
}

.hlDashTextActive{
    height: 35px;
    top: 0px;
    float: left;
}

.hlDashTextActive h2{
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #000;
    position: relative;
    font-size: #000000;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}


/*sefefe*/



.hlSettings{
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 8px;
    top: 0px;
    transition: .2s ease;
    height: 48px;
    opacity: .35;
    border-bottom: 0px solid #0066FF;
}
.hlSettings:hover{
    opacity: 1;
}
.hlSettings img{
    position: relative;
    height: 16px;
    width: 16px;
    float: left;
    padding-top: 17px;
    padding-right: 5px;
}

.hlSettText{
    height: 35px;
    top: 0px;
    float: left;
}

.hlSettText h2{
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #000;
    position: relative;
    font-size: #000000;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.hlSettingsActive{
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 8px;
    top: 0px;
    height: 48px;
    border-bottom: 2px solid #0066FF;
}

.hlSettingsActive img{
    position: relative;
    height: 16px;
    width: 16px;
    float: left;
    padding-top: 17px;
    padding-right: 5px;
}

.hlSettTextActive{
    height: 35px;
    top: 0px;
    float: left;
}

.hlSettTextActive h2{
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #000;
    position: relative;
    font-size: #000000;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}