.NewCatBack {
  position: relative;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  z-index: 160px;
  max-width: 1600px;
}

.newCatTitle {
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 25px;
}
.newCatTitle h3 {
  position: relative;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.newCatTopFields {
  position: relative;
  width: 100%;
  max-width: 600px;
  left: 0px;
}
.newCatField {
  position: relative;
  width: 100%;
  float: left;
}
.newCatFieldRight {
  position: relative;
  width: 100%;
  float: left;
}
.newCatField input {
  position: relative;
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: 1px solid #efefef;
  height: 38px;
  border-radius: 3px;
  box-sizing:border-box;
}
.newCatFieldRight input {
  position: relative;
  width: 100%;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: 1px solid #efefef;
  height: 38px;
  border-radius: 3px;
  box-sizing:border-box;
}

.newCatField textarea{
  box-sizing:border-box;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #efefef;
  outline:none;
  resize: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.newCatLeftButton{
  position: relative;
  height: 35px;
  float: left;
  transition: .3s ease;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.newCatRightButton{
  position: relative;
  height: 35px;
  float: right;
  transition: .3s ease;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.newCatLeftButton button{
  position: relative;
  height: 35px;
  padding-left: 30px;
  cursor: pointer;
  color: #ff0000;
  font-size: 14px;
  border-radius: 3px;
  padding-right: 30px;
  background-color: #fff;
  border: none;
  outline:none;
}
.newCatRightButton button{
  position: relative;
  height: 35px;
  padding-left: 20px;
  color: #0066ff;
  font-size: 14px;
  border-radius: 3px;
  padding-right: 20px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  outline:none;
}

.newCatRightButton:active, .newCatLeftButton:active{
  -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
}
.newCatRightButton:hover, .newCatLeftButton:hover{
  opacity: .8;
}