.NewProdBack {
  position: relative;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  z-index: 160px;
  max-width: 1600px;
}

.newProductTitle {
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 25px;
}
.newProductTitle h3 {
  position: relative;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.newProdTopFields {
  position: relative;
  width: 100%;
  max-width: 600px;
  left: 0px;
}
.newProdField {
  position: relative;
  width: 50%;
  float: left;
}
.newProdFieldRight {
  position: relative;
  width: 50%;
  float: left;
}
.newProdField input {
  position: relative;
  width: 91%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: 1px solid #efefef;
  height: 38px;
  border-radius: 3px;
}
.newProdFieldRight input {
  position: relative;
  width: 91%;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: 1px solid #efefef;
  height: 38px;
  border-radius: 3px;
}
.newProdImageUploadCont {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-top: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  height: 320px;
  border: 1px solid #efefef;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}


.newProdImageUploadLabel {
  position: relative;
  height: 100px;
  margin: auto;
  top: 100px;
  border-radius: 3px;
  width: 150px;
  background-color: #ececec;
}
.newProdLabelImg {
  position: relative;
  height: 42px;
  width: 42px;
  margin: auto;
  top: 5px;
}
.newProdLabelImg img {
  position: relative;
  height: 42px;
  width: 42px;
}

.newProdGalleryButton {
  position: relative;
  margin: auto;
  transition: 0.3s ease;
  width: 130px;
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
}

.newProdGalleryButton:active {
  -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
}
.newProdGalleryButton input {
  position: relative;
  top: 0px;
  margin: auto;
  width: 130px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 3px;
}
.newProdGalleryButton label {
  cursor: pointer;
  line-height: 40px;
  padding: 15px;
  /* Style as you please, it will become the visible UI component. */
}
.newProdGalleryButton input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  padding: 20px;
}
.newProdGalleryButton label {
  color: #0066ff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.newProdGalleryButton:hover {
  opacity: 0.8;
}
.newProdCat {
  position: relative;
  border-radius: 3px;
  border: 1px solid #efefef;
  width: 98%;
  outline: none;
  right: 0px;
  float: right;
  padding-left: 5px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: 1px solid #efefef;
  height: 42px;
  border-radius: 3px;
}
.newProdBottomFields {
  margin-top: 10px;
}
.selectEmptyCat {
  display: none;
}
.newProdFieldLabel {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  float: left;
  color: #000;
  padding-left: 11px;
  padding-top: 8px;
  padding-bottom: 3px;
}

.newProdTxtArea {
  float: left;
  position: relative;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-top: 10px;
}

.newProdTxtArea textarea {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #efefef;
  outline: none;
  resize: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.newProdLeftButton {
  position: relative;
  height: 35px;
  float: left;
  margin-top: 10px;
  transition: 0.3s ease;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.newProdRightButton {
  position: relative;
  height: 35px;
  float: right;
  margin-top: 10px;
  transition: 0.3s ease;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.newProdLeftButton button {
  position: relative;
  height: 35px;
  padding-left: 30px;
  cursor: pointer;
  color: #ff0000;
  font-size: 14px;
  border-radius: 3px;
  padding-right: 30px;
  background-color: #fff;
  border: none;
  outline: none;
}
.newProdRightButton button {
  position: relative;
  height: 35px;
  padding-left: 20px;
  color: #0066ff;
  font-size: 14px;
  border-radius: 3px;
  padding-right: 20px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  outline: none;
}
.newProdBottom {
  position: relative;
  width: 100%;
  height: 20px;
  float: left;
}
.newProdRightButton:active,
.newProdLeftButton:active {
  -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
}
.newProdRightButton:hover,
.newProdLeftButton:hover {
  opacity: 0.8;
}


.newProdTempImageCont {
  position: relative;
  display: inline-block;
  height: 280px;
  margin-top: 20px;
  width: auto;
  margin-left: 20px;
  -webkit-box-shadow: 6px 3px 18px 2px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 6px 3px 18px 2px rgba(0, 0, 0, 0.11);
  box-shadow: 6px 3px 18px 2px rgba(0, 0, 0, 0.11);
}

.newProdTempImageCont img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 280px;
  width: auto;
  z-index: 101;
}
.newProdTempImageAddCont{
  position: relative;
  display: inline-block;
  width: 280px;
  height: 280px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #efefef;
  border-radius: 6px;
}

.newProdImageCloseCont {
  cursor: pointer;
  position: absolute;
  z-index: 102;
  padding: 4px;
  padding-bottom: 3px;
  margin: 10px;
  right: 0px;
  top: 0px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.46) 0%,
    rgba(255, 255, 255, 0.458420868347339) 100%
  );
  transition: .3s ease;
}
.newProdImageCloseCont:hover {
  opacity: .6;
}


.addProdTempImageCont {
  position: relative;
  display: inline-block;
  height: 280px;
  width: 280px;
  margin-top: 20px;
  margin-left: 20px;
}

.addProdTempImageIcon{
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #0066ff;
  border-radius: 3px;
  margin: 120px;
  -webkit-box-shadow: 6px 3px 18px 2px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 6px 3px 18px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 6px 3px 18px 2px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  overflow: hidden;
}

.addProdTempImageIcon:hover{
  opacity: .8;
  transition: .3s ease ;
}
.addProdTempImageIcon:active{
  -webkit-box-shadow: 6px 3px 18px 2px rgba(0, 0, 0, 0.0);
  -moz-box-shadow: 6px 3px 18px 2px rgba(0, 0, 0, 0.0);
  box-shadow: 6px 3px 18px 2px rgba(0, 0, 0, 0.0);
  transition: .3s ease ;
}

.addProdTempImageCont label{
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 1;
}

.addProdTempImageCont input {
  opacity: 0;
  position: absolute;
  padding: 20px;
  cursor: pointer;
}

.addProdTempImageCont span {
  line-height: 40px;
  text-align: center;
  color: #fff;
  width: 40px;
  z-index: 1;
}