.settingsBack {
  position: relative;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  z-index: 160;
  max-width: 1600px;
}

.settingsBack h3 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #000;
  padding-top: 8px;
  padding-bottom: 20px;
  font-weight: bold;
  text-decoration: none;
}

.settingsCont {
  position: relative;
  width: 100%;
  max-width: 300px;
  background-color: transparent;
}

.changePassBtn {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: #ff4545;
  -webkit-box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.16);
  margin-bottom: 15px;
  box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}


.changePassBtn:hover {
    opacity: .7;
    text-decoration: none;
}

.changePassBtn h4 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
.changePassBtnSpan{
  text-decoration: none;
}

.changePassBtn span{
  text-decoration: none;
}


.settingsImageCont{
    position: relative;
    width: 100%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    border-radius: 3px;
    background-color: #efefef;
}

.settingsImage{
    position: relative;
    width: 95%;
    margin: auto;
    height: 285px;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
}

.settingsImageBox{
    position: relative;
    width: 42px;
    height: 42px;
    overflow: hidden;
    margin: auto;
    top: 121.5px;
}

.settingsImageBox img{ 
    position: relative;
    width: 42px;
    height: 42px;
}

.settingsImageBoxUser{
  position: relative;
    width: auto;
    height: 100%;
    overflow: hidden;
    margin: auto;
    top: 0px;
}

.settingsImageBoxUser img{ 
  position: relative;
  width: auto;
    height: 100%;
}

.newProfileImageBtn {
    position: relative;
    margin: auto;
    transition: 0.3s ease;
    width: 130px;
    height: 40px;
    cursor: pointer;
    margin-top: 7.5px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
  }
  
  .newProfileImageBtn:active {
    -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0);
  }
  .newProfileImageBtn input {
    position: relative;
    top: 0px;
    margin: auto;
    width: 130px;
    height: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 3px;
  }
  .newProfileImageBtn label {
    cursor: pointer;
    line-height: 40px;
    padding: 15px;
    /* Style as you please, it will become the visible UI component. */
  }
  .newProfileImageBtn input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    padding: 20px;
  }
  .newProfileImageBtn label {
    color: #0066ff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }
  .newProfileImageBtn:hover {
    opacity: 0.8;
  }

  .settingTextField{
        position: relative;
        width: 100%;
        padding-top: 10px;
        margin: auto;
  }

  .settingTextField input {
    position: relative;
    width: 92%;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    border: 1px solid #efefef;
    height: 38px;
    border-radius: 3px;
    margin: auto;
  }

  .settingsSubmitBtn {
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
    transition: 0.3s ease;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  .settingsSubmitBtn button {
    position: relative;
    height: 40px;
    background-color: #3887FF;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 100%;
    margin: auto;
    cursor: pointer;
  }

  .settingsSubmitBtn button:hover{
    opacity: .7;
  }

.settingsPassBack{
  position: relative;
  margin-top: 0px;
  max-width: 1600px;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.changePasswordTitle h4{
  position: relative;
  color: #000;
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.changePasswordForm{
  position: relative;
  margin-top: 15px;
  max-width: 300px;
}