<div className="card card-body mt-5">
    <h2 className="text-center">Login</h2>

    
    <form onSubmit={this.onSubmit}>
      <div className="form-group">
        <label>Username</label>
        <input
          type="text"
          className="form-control"
          name="username"
          onChange={this.onChange}
          value={username}
        />
      </div>

      <div className="form-group">
        <label>Password</label>
        <input
          type="password"
          className="form-control"
          name="password"
          onChange={this.onChange}
          value={password}
        />
      </div>

      <div className="form-group">
        <button type="submit" className="btn btn-primary">
          Login
        </button>
      </div>
      <p>
        Don't have an account? <Link to="/register">Register</Link>
      </p>
    </form>
  </div>